
<div id="home" class="w3ls-banner">
    <!-- banner-text -->
    <div class="slider">
        <div class="callbacks_container">
            <ul class="rslides callbacks callbacks1" id="slider4">
                <li>
                    <div class="w3layouts-banner-top">

                        <div class="container">
                            <div class="agileits-banner-info">
                                <h3>We Celebrate  <span>Birthday Parties</span></h3>
                                <p>Growing old is inevitable, but growing up is optional.</p>
                                <div class="agileits_w3layouts_more menu__item">
                                    <a href="#" class="menu__link" data-toggle="modal" data-target="#myModal">Gold Pride</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="w3layouts-banner-top w3layouts-banner-top1">
                        <div class="container">
                            <div class="agileits-banner-info">
                                <h3>We Celebrate  <span>Corporate Events</span></h3>
                                <p>
                                    "Unity is strenght... when there is<br />
                                    teamwork and collaboration, wonderful<br />
                                    things can be achieved"<br />
                                    ~Mattie Stepanek
                                </p>
                                <div class="agileits_w3layouts_more menu__item">
                                    <a href="#" class="menu__link" data-toggle="modal" data-target="#myModal">Gold Pride</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="w3layouts-banner-top w3layouts-banner-top2">
                        <div class="container">
                            <div class="agileits-banner-info">
                                <h3>We Celebrate  <span>Marriage Functions</span></h3>
                                <p>
                                    "Love, laughter, and happily ever after."
                                </p>>



                                <div class="agileits_w3layouts_more menu__item">
                                    <a href="#" class="menu__link" data-toggle="modal" data-target="#myModal">Gold Pride</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="clearfix"> </div>

        <!--banner Slider starts Here-->
    </div>


</div>




<div class="ser_agile">
    <div class="container">
        <h2 class="heading-agileinfo">Welcome<span>Gold Pride is a professionally managed Events Company</span></h2>
        <p>
            Thank you for your interest in Gold Pride. We Understand the needs of our
            clients and strive to offer nothing but the best, ensuring
            that your event with us will be a cut above the rest.
        </p>
        <div class="ser_w3l">


            <div class="outer-wrapper">
                <div class="inner-wrapper">
                    <div class="icon-wrapper">
                        <i class="fa fa-bell" aria-hidden="true"></i>
                    </div>
                    <div class="content-wrapper">
                        <h4>Weddings</h4>
                        @*<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, magni.</p>*@
                        <p>Together is a beautiful place to be.</p>
                    </div>
                </div>
            </div>


            <div class="outer-wrapper">
                <div class="inner-wrapper">
                    <div class="icon-wrapper">
                        <i class="fa fa-birthday-cake" aria-hidden="true"></i>
                    </div>
                    <div class="content-wrapper">
                        <h4>Birthday</h4>
                        @*<p>#####################################.</p>*@
                        <p>Let us help you make your special day a memorable one.</p>
                    </div>
                </div>
            </div>

            <div class="outer-wrapper">
                <div class="inner-wrapper">
                    <div class="icon-wrapper">
                        <i class="fa fa-suitcase" aria-hidden="true"></i>
                    </div>
                    <div class="content-wrapper">
                        <h4>Corporate</h4>
                        @*<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, magni.</p>*@
                        <p>Work hard, party harder!</p>
                    </div>
                </div>
            </div>

            <div class="outer-wrapper">
                <div class="inner-wrapper">
                    <div class="icon-wrapper">
                        <i class="fa fa-headphones" aria-hidden="true"></i>
                    </div>
                    <div class="content-wrapper">
                        <h4>Entertainment</h4>
                        @*<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, magni.</p>*@
                        <p>We have what is needed to entertain your senses</p>
                    </div>
                </div>
            </div>



            <div class="outer-wrapper">
                <div class="inner-wrapper">
                    <div class="icon-wrapper">
                        <i class="fa fa-camera" aria-hidden="true"></i>
                    </div>
                    <div class="content-wrapper">
                        <h4>Photography</h4>
                        @*<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, magni.</p>*@
                        <p>Photos today, memories tomorrow, we capture them all.</p>
                    </div>
                </div>
            </div>
            <div class="outer-wrapper">
                <div class="inner-wrapper">
                    <div class="icon-wrapper">
                        <i class="fa fa-cutlery" aria-hidden="true"></i>
                    </div>
                    <div class="content-wrapper">
                        <h4>Catering</h4>
                        @*<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, magni.</p>*@
                        <p>More colourful, more flavourful, we cater with a Royal Touch.</p>
                    </div>
                </div>
            </div>





            <div class="clearfix"></div>
        </div>
    </div>
</div>







<!-- skills -->

<script src="~/Content/js/responsiveslides.min.js"></script>
<script>
    // You can also use "$(window).load(function() {"
    $(function () {
        // Slideshow 4
        $("#slider4").responsiveSlides({
            auto: true,
            pager: true,
            nav: false,
            speed: 500,
            namespace: "callbacks",
            before: function () {
                $('.events').append("<li>before event fired.</li>");
            },
            after: function () {
                $('.events').append("<li>after event fired.</li>");
            }
        });

    });
</script>
<script>
    // You can also use "$(window).load(function() {"
    $(function () {
        // Slideshow 4
        $("#slider3").responsiveSlides({
            auto: true,
            pager: false,
            nav: true,
            speed: 500,
            namespace: "callbacks",
            before: function () {
                $('.events').append("<li>before event fired.</li>");
            },
            after: function () {
                $('.events').append("<li>after event fired.</li>");
            }
        });

    });
</script>
