################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UserRoles/App_Data/DefaultConnection.mdf
