<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://2020grp26.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>2020grp26.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>2020grp26</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$2020grp26</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=gpdb2.database.windows.net;Initial Catalog=gpdb;User ID=SqlAdmin;Password=Admin123" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="UserRoles.Models.ApplicationDbContext, UserRoles" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="gpdb2" Order="2" Enabled="False">
          <Destination Path="Data Source=gpdb2.database.windows.net;Initial Catalog=gpdb;User ID=SqlAdmin;Password=Admin123" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:gpdb2.database.windows.net,1433;Initial Catalog=gpdb;Persist Security Info=False;User ID=SqlAdmin;Password=Admin123;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\gpdb2_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:gpdb2.database.windows.net,1433;Initial Catalog=gpdb;Persist Security Info=False;User ID=SqlAdmin;Password=Admin123;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="gpdb2-Web.config Connection String">
      <ParameterValue>data source=gpdb2.database.windows.net;initial catalog=gpdb;user id=SqlAdmin;password=Admin123;MultipleActiveResultSets=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=gpdb2.database.windows.net;Initial Catalog=gpdb;User ID=SqlAdmin;Password=Admin123</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DefaultConnection" />
  </ItemGroup>
</Project>