@model UserRoles.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}
<br />
<br />
<br />
<br />
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="Quick Register Form Responsive, Login form web template, Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <link href="/web/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all">
    <link href="/web/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
</head>
<body>
    <div class="row">
        <div class="col-md-12">
            <section id="ForgotPassword">
                @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                <div class="signupform">
                    <br />
                    <h1>Forgot Password</h1>
                    <div class="container">

                        <div class="agile_info">
                            <div class="w3_info">
                                <h2></h2>
                                <form action="#" method="post">
                                    <div class="left margin">
                                        <label>Email Address</label>
                                        <div class="input-group">
                                            <span><i class="fa fa-envelope" aria-hidden="true"></i></span>
                                            @*<input type="email" placeholder="Email" required="">*@
                                            @Html.TextBoxFor(m => m.Email, new { @placeholder = "Email Address", @required = "required" })
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                    <button class="btn btn-danger btn-block" value="Email Link" type="submit">Submit<i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                                    }
                </section>
            </div>
        </div>
    </body>
</html>

                                    @section Scripts {
                                        @Scripts.Render("~/bundles/jqueryval")
                                    }
